body {
  background-color: #1c1c1c;
  font-family: 'Oxygen', sans-serif;
  color: #CCCCCC;
}

.row {
  margin: 2em 0;
}

#input {
  border-radius: 7px;
  font-size: 2em;
  margin-top: 2em;
  width: 100%;
}

div.movieList {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0.5em;
  text-align: center;
}

.movieInfo {
  background: #454545;
  border-color: white;
  border-radius: 6px 6px;
  border-width: 1em;
  padding: 1em;
  text-align: center;
}

.movieInfo em {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.movieInfo p {
  font-size: 1em;
  font-weight: light;
  text-align: center;
}