<!DOCTYPE html>
<html lang="en">
<head>
  <title>OMDB Movie Searcher</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css" media="all">
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/search.js"></script>
</head>
<body>
  <div data-ng-app="omdbSearcher">
    <div data-ng-controller="MovieController">

      <form data-ng-submit="search(searchInput)">
        <input type="input" placeholder="Enter Movie Name" data-ng-model="searchInput">
      </form>

      <div data-ng-repeat="movie in movieList">

        <h5 data-ng-click="showDetails(movie); hiddenMovieInfo = !hiddenMovieInfo">
          {{ movie.Title | uppercase }}
          <br/>
<!--           {{ movie.Year }}
          <br/>
          {{ movieDetails.Plot }}
          <br/>
          {{ movieDetails.Rated }} -->
          <div data-ng-show="hiddenMovieInfo">
            <!-- {{ movie.Title }} -->
            <br/>
            {{ movieDetails.Plot }}
            <br/>
            {{ movieDetails.Rated }}
          </div> <!--nghide-->
        </h5> <!--ngclick-->
      </div> <!--ngrepeat-->


    </div> <!--ngapp-->
  </div> <!--ngcontroller-->
</body>
</html>
